In [39]:
import pandas as pd
import numpy as np
import statsmodels.api as sm
from pandas_datareader import data
from scipy import stats

In [16]:
#Download facebook and S&P 500 prices
fb=data.DataReader("FB", data_source="yahoo", start="2018-01-01" , end="2018-01-31")
SP=data.DataReader("^GSPC", data_source="yahoo", start="2018-01-01" , end="2018-01-31")
#pick the closing price for each facebook and S&P 500. Rename the columns accordingly
prices= pd.concat([fb['Close'], SP['Close']], axis=1)
prices.columns= ['FB', 'S&P']

                    FB          S&P
Date
2018-01-02  181.419998  2695.810059
2018-01-03  184.669998  2713.060059
2018-01-04  184.330002  2723.989990
2018-01-05  186.850006  2743.149902
2018-01-08  188.279999  2747.709961
2018-01-09  187.869995  2751.290039
2018-01-10  187.839996  2748.229980
2018-01-11  187.770004  2767.560059
2018-01-12  179.369995  2786.239990
2018-01-16  178.389999  2776.419922
2018-01-17  177.600006  2802.560059
2018-01-18  179.800003  2798.030029
2018-01-19  181.289993  2810.300049
2018-01-22  185.369995  2832.969971
2018-01-23  189.350006  2839.129883
2018-01-24  186.550003  2837.540039
2018-01-25  187.479996  2839.250000
2018-01-26  190.000000  2872.870117
2018-01-29  185.979996  2853.530029
2018-01-30  187.119995  2822.429932
2018-01-31  186.889999  2823.810059
2018-02-01  193.089996  2821.979980

In [44]:
#  calculate the returns on each
monthly_return=prices.pct_change(1)
monthly_return.dropna(axis=0,inplace=True) #drop the first nan value

In [53]:
#setting up regression model
y=monthly_return['FB'] 
x=monthly_return['S&P']

In [54]:
slope, intercept, r_value, p_value, std_err = stats.linregress(x, y)

print('beta',slope) #beta

beta 0.3501640723262605